h1 {
    width: 95vw;
    height: 12%;
    box-sizing: border-box;
    
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}
.wrapper {
    align-items: unset;
    height: 88%;
}
#game-area {
    width: 95vw;
    height: 83%;
}
#gameCanvas{
    width: 100%;
    height: 100%;

}
.button-container{
    bottom: 59px;
}
.category-button {
    padding: 7px 7%;
}