.send-button {
    top: 46%;
}
#clear-button {
    top: 46%;
}
#outputCanvas{
    width: 95vw;    
}
#predicted-word {
    top: -48px;
    left: 130px;
}
#predicted-word{
    top: -47px;
    left: 0;
}