<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <article>
        <h1>E. T. A</h1>
        <p>어떤 문구가 들어가면 좋을까..</p>
        <div class="menu">
            <div>Predicted</div>
            <div>Game</div>
            <div>Learing</div>
        </div>
    </article>
</body>
</html>