@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap');
*{
    font-family: 'Comic Sans MS',"jua";
    cursor: url("./hand2.cur"), default;    
}
article{
    position: relative;
}
.sticky{
    position: fixed;
    /* width: 50px; */
    /* height: 70px; */
    right: 10vw;
    bottom: 50vh;
    transform: translateY(50%);
    z-index: 999;

    border: #ffb3b3 1px solid;
    border-radius: 20px;
    background-color: #ffb3b3;

    display: flex;
    justify-content: center;
    align-items: center;

}
.sticky{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    /* position: relative; */
}
/* .sticky:hover{
    height: 150px;
    transition: top 0.3s ease;
    
} */
.sticky a:hover{
    cursor: url("./hand3.cur"), pointer;
}

@keyframes slide {
    from{
       transform: translateY(0px);
    } 
    to {
       transform: translateY(-50px);
    }
   }
/* .sticky:hover .link:nth-child(3){
    transform: translateY(-100px);    
}
.sticky:hover .link:nth-child(2){
    transform: translateY(-50px);    
} */

/* 

.link{
    bottom: 0;
} */
.icon {
    
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 100%; */
    /* box-sizing: border-box; */
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.icon svg{
    font-size: 30px;
}
.hidden {
    display: none;
}
a{
    color: black;
}