@import url("reset.css");

body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 커튼 애니메이션을 위해 추가 */
}

.curtain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hero {
    text-align: center;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 3.5vw; /* 화면 너비의 3.5% */
    margin: 0 0 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 2vw; /* 화면 너비의 2% */
    margin: 0 0 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.menu .button {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5vw; /* 화면 너비의 1.5% */
    font-weight: bold;
    color: white;
    background-color: #55CBCD;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

.menu .button:hover {
    background-color: #44a9a1;
    transform: scale(1.05);
    color: white;
}
.logo {
    position: absolute;
    bottom: -900px;
    right: 10px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

}

.logo img {
    width: 200px; /* 이미지의 너비를 조정 */
    /* height: auto; */
}
