@import url("reset.css");
body {
	font-family: 'comic-sans';
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	margin-top: 20px;
	justify-content: center;
	margin-bottom: 60px; /* 페이지 하단 여백 */
}
article {
    margin-top: 15vh;
    display: flex;    
    flex-direction: column;
    align-items: center;
    height: 85vh;
}
.menu {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 70%;
    margin-top: 20px;
}
.menu {
	display: flex;
	gap: 10px;
	margin-top: 20px;
	justify-content: center;
}
/* .menu:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */
.menu div {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;

    border: 3px solid black;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.menu div:last-child{
    margin-right: 0px;
}
.menu div:after{    
    content: "";
    display: block;
    padding-bottom: 100%;
}
.footer-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #55CBCD;
    text-shadow: 1px 1px 2px #000000;
    margin: 20px 0;
}
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.video-container iframe {
    width: 80vw; /* 화면 너비의 80% */
    height: 45vw; /* 화면 너비의 45% */
    max-width: 800px;
    max-height: 450px;
    border: none;
}
.info-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px auto;
    width: 80vw;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.info-container h2 {
    font-size: 24px; /* 글자 크기 조정 */
    color: midnightblue; /* 글자 색상 변경 */
    margin-bottom: 10px; /* 아래 여백 추가 */
}
.info-container p {
    font-size: 18px; /* 글자 크기 조정 */
    color: #333; /* 글자 색상 변경 */
    margin-bottom: 50px; /* 아래 여백 추가 */
}
.question {
    font-weight: bold;
    color: #333;
    background-color: #FCB9AA; /* 색상 박스의 배경색 */
    padding: 10px; /* 내부 여백 */
    border-radius: 10px;  /* 테두리를 둥글게 */
}
.answer {
    margin-left: 20px; /* 들여쓰기 추가 */
    color: #555; /* 답변 텍스트 색상 변경 */
    background-color: #A2E1DB; /* 답변 부분 색상 박스 배경색 */
    padding: 10px; /* 답변 부분 내부 여백 */
    border-radius: 10px; /* 테두리를 둥글게 */
}
footer {
    background-color: #f2f2f2;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
font-weight: bold;
}
.info-container {
    margin: 20px;
    text-align: center;
}
.info-container button {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 전환 효과 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* 시펑 효과 추가 */
    min-width: 150px; /* 최소 너비 지정 */
    min-height: 50px; /* 최소 높이 지정 */
}
.info-container button:hover {
    background-color: #ddd;
}
#translatedTextContainer {
    margin-top: 20px;
}
.logo {
    position: absolute;
    bottom: -900px;
    right: 10px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

}

.logo img {
    width: 200px; /* 이미지의 너비를 조정 */
    /* height: auto; */
}
