html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 추가 */


.button {
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
	justify-content: center; /* 가로 중앙 정렬 */
	padding: 10px 20px; /* 글자 크기에 맞춰 패딩 조정 */
	font-size: 2vw; /* 화면 너비의 2% */
	font-weight: bold;
	color: midnightblue;
	background-color: transparent; /* 배경 색상을 투명하게 설정 */
	border: 3px solid midnightblue; /* 네모 박스 테두리 */
	text-align: center;
	text-decoration: none;
	border-radius: 8px; /* 모서리를 둥글게 */
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
	transition: background-color 0.3s, transform 0.3s;
}
.button:hover {
	background-color: #3daab8;
	transform: scale(1.05);
	color: white;
}