body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s ease;
}
h1 {
    color: #333;
}
video, canvas {
    border: 5px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 20px;
    transform: scaleX(-1); /* 미러링 */
}
#result, #predicted-word {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.wrapper {
    position: relative;
    width: 640px;
    height: 480px;
    margin: 0 auto;
}
.button-container {
    margin-top: 10px;
}
.category-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#text-input {
    margin-top: 20px;
    font-size: 24px;
    width: 80%;
    padding: 10px;
}
#video {
    display: none; /* 비디오 요소 숨기기 */
}
.alphabet-mode {
    background-color: #f0e68c; /* 노란색 배경 */
}
.numbers-mode {
    background-color: #add8e6; /* 하늘색 배경 */
}
.words-mode {
    background-color: #90ee90; /* 연두색 배경 */
}
#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* 클릭 이벤트를 비활성화 */
}
