body {
    font-family: 'comic-sans';
    background-color: #ECEAE4;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s ease;
    position: relative; 
    background-color: #f0f8ff; /* AliceBlue 배경색 */
}

h1 {
    color: #4682b4; /* SteelBlue 색상 */
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 세로 가운데 정렬 */
}

#camera-area {
    position: relative;
    width: 640px; 
    height: 480px;
}

canvas {
    border: 5px solid #4682b4; /* SteelBlue 색상 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#outputCanvas {
    width: 100%;
    height: 100%;
}

#result, #predicted-word {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.button-container {
    margin-top: 10px;
}

.category-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4682b4; /* SteelBlue 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #5a9bd4; /* 밝은 SteelBlue 색상 */
}

.category-button.active {
    background-color: #87CEFA; /* 더 밝은 색상 (LightSkyBlue) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* 강조된 그림자 */
}


#word {
    font-weight: bold;
    color: #a2e1db; /* 밝은 청록색 */
}

#text-input {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #4682b4; /* SteelBlue 색상 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-bottom: 20px; /* 추가하여 텍스트 입력란과 카메라 간 간격 확보 */
    caret-color: black; /* 커서 색상 설정 */
    white-space: pre-wrap; /* 줄 바꿈을 포함한 공백 유지 */
    outline: none; /* 포커스 시 외곽선 제거 */
    overflow: hidden; /* 스크롤 바 숨기기 */
    resize: none; /* 크기 조정 비활성화 */
}
