{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>About Us</title>    
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <article class="comic-sans kcc-dodamdodam">
        <div class="image-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5_sRFGa3phE?si=YnWLT7pPgFojQyEq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="language-buttons">
            <button class="button" onclick="showText('english')">English</button>
            <button class="button" onclick="showText('korean')">한국어</button>
        </div>
        <div id="content">
            <!-- Initial content will be loaded by JavaScript -->
        </div>

    </article>
    <div class="logo">
        <img src="{% static 'images/logo.PNG' %}" alt="Baby Sign Language Logo">
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}