{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Sign Language Game</title>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/m_game.css' %}" media="screen and (max-width: 768px)">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
{% endblock %}


{% block content %}
    <h1>Sign Language Game</h1>
    
    <div class="wrapper">
        <div id="game-area">
            <div id="game-info">
                <div id="predicted-word">Prediction: </div>
                <div class="score-lives-level">
                    <span id="score">Score: 0</span>
                    <span id="lives">Lives: 4</span>
                    <span id="level">Level: 1</span>
                </div>
            </div>
            <canvas id="gameCanvas" width="800" height="600"></canvas>
            <div id="start-button-container">
                <button id="start-button" class="category-button">Start Game</button>
            </div>
            <div id="camera-area">
                <canvas id="outputCanvas" width="800" height="600"></canvas>
            </div>
        </div> 
    </div>
    <div class="button-container">
        <button class="category-button" onclick="setMode('alphabet')">Alphabet</button>
        <button class="category-button" onclick="setMode('numbers')">Numbers</button>
        <button class="category-button" onclick="setMode('words')">Words</button>
    </div>
    
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}
