<!DOCTYPE html>
<html>
<head>
    <title>Sign Language Game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_game.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
</head>
<body id="body">
    <h1>Sign Language Game</h1>
    <div class="button-container">
        <button class="category-button" onclick="setMode('alphabet')">Alphabet</button>
        <button class="category-button" onclick="setMode('numbers')">Numbers</button>
        <button class="category-button" onclick="setMode('words')">Words</button>
    </div>
    <div class="wrapper">
        <div id="game-area">
            <canvas id="gameCanvas" width="800" height="600"></canvas>
        </div>
    </div>
    <div id="camera-area">
        <video id="video" autoplay></video>
        <canvas id="outputCanvas"></canvas>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>
