{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Sign Language Translator</title>
    <link rel="stylesheet" href="{% static 'css/predict.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/m_predict.css' %}" type="text/css" media="screen and (max-width: 768px)">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<body>
    <p class="title">Sign Language Translator</p>
    <div class="button-container">
        <div id="text-area" class="text-area">
            <textarea id="text-input" rows="2" cols="50" readonly></textarea>
            <button id="speak-button" class="send-button"><i class="fa-solid fa-paper-plane"></i></button>
            <button id="clear-button" class="send-button"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
    <div class="wrapper">
        <div id="camera-area">
            <div id="predicted-word">Predicted Word: <span id="word"></span></div>
            <canvas id="outputCanvas" width="640" height="480"></canvas>
        </div>
        <div class="category-buttons">
            <button class="category-button" onclick="setMode('alphabet')">Alphabet</button>
            <button class="category-button" onclick="setMode('numbers')">Numbers</button>
            <button class="category-button" onclick="setMode('words')">Words</button>
        </div>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <script src="{% static 'js/translator.js' %}"></script>
{% endblock %}
