{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Sign Language Learning</title>
    <link rel="stylesheet" href="{% static 'css/learning.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/m_learning.css' %}" type="text/css" media="screen and (max-width: 768px)">
{% endblock %}
{% block content %}
    <button class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </button>
    <article>
        <div class="content">            
            <div class="side-bar">
                <div class="category">
                    <div class="menu alphabet"><i class="fa-solid fa-arrow-down-a-z"></i>Alphabet</div>
                    <div class="menu numbers"><i class="fa-solid fa-list-ol"></i>Numbers</div>
                    <div class="menu words"><i class="fa-solid fa-message"></i>Words</div>
                    <div class="menu phrases"><i class="fa-solid fa-quote-left"></i>Phrase</div>
                    <div class="menu animal"><i class="fa-solid fa-cat"></i>Animal</div>
                    <div class="menu colors"><i class="fa-solid fa-palette"></i>Color</div>
                    <div class="menu feeling"><i class="fa-solid fa-heart"></i>Feeling</div>
                    <div class="menu people"><i class="fa-solid fa-person"></i>People</div>
                    <div class="menu manners"><i class="fa-solid fa-hand-holding-heart"></i>Manners</div>
                    <div class="menu time"><i class="fa-solid fa-clock"></i>Time</div>
                    <div class="menu questions"><i class="fa-solid fa-question"></i>Questions</div>
                    <div class="menu toys"><i class="fa-solid fa-gamepad"></i>Toys</div>
                    <div class="menu transportations"><i class="fa-solid fa-car"></i>Transportations</div>
                </div>
            </div>
            <div class="main-content">
                <div class="title-container">
                    <div class="title">Select category</div>
                </div>
                <div class="video-area">
                    <div class="button-group"></div>
                    <div class="video"></div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/learning.js' %}"></script>
{% endblock %}
